body {
    font-family: "Arial";
    margin: 0;
    cursor: url('/cursor/football.cur'), auto;
    background-color: #f3f3f3;
}

.wrapper {
    max-width: 960px;
    box-sizing: border-box;
    margin: auto;
    padding: 0 10px;
    background-color: #fff;
}

.schedule {
    position: relative;
    flex-wrap: wrap;
    column-gap: 10px;
}

.schedule p {
    margin: 0;
}


.header-line {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 15px 0;
}

.logo em {
    font-size: 14px;
    color: #5a5a5a;
    font-style: normal;
    display: block;
}

.up-image img {
    width: 100%;
    vertical-align: bottom;
    margin-bottom: 10px;
    height: 200px;
    object-fit: cover;
    object-position: 75%;
}

.football-manager {
    margin-left: 10px;
}

.logo strong {
    font-size: 24px;
    text-transform: uppercase;
    color: #39930d;
    font-weight: bold;
}

.bottom-images {
    display: flex;
    overflow-x: scroll;
    row-gap: 10px;
    column-gap: 13px;
    width: 100%;
}

.logo {
    display: flex;
}

.working {
    position: relative;
    padding-left: 30px;

    font-size: 14px;
    color: #5a5a5a;
    font-weight: bold;
    text-align: right;
}

.working:before {
    content: "";
    position: absolute;
    background: url(../img/schedule.svg) no-repeat;
    height: 21px;
    width: 22px;
    top: -10%;
    left: 0%;

}

.number {
    position: relative;
    text-align: right;
    padding-left: 20px;
}

.number::before {
    content: "";
    position: absolute;
    background: url(../img/telephone.svg) no-repeat;
    height: 21px;
    width: 21px;
    left: 0;
}

.schedule {
    display: flex;
    align-items: center;
    padding-top: 10px;
    min-width: 210px;

}

.information {
    display: block;
    column-gap: 20px;
    background-color: #fff;
}

.number a {
    transition: 1s all ease;
}

.left-block a {
    transition: 1s all ease;
}

.left-block li:hover>a {
    background-color: #39930d;
    border-radius: 10px;
    padding: 8px;
    color: #fff;
}

.number a:hover {
    background-color: #39930d;
    border-radius: 10px;
    color: #fff;
}

.schedule a {
    font-size: 14px;
    color: #5a5a5a;
    font-weight: bold;
    text-decoration: none;
}

.schedule p {
    text-align: center;
}

.main-info {
    padding-bottom: 47px;
}

h1 {
    font-size: 24px;
    color: #39930d;
    font-weight: bold;
}

.main-info p {
    font-size: 14px;
    color: #343434;
}

.main-info p {
    font-size: 14px;
    line-height: 1.5em;
    color: #343434;
}


h2 {
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px 20px;
    background-color: #39930d;
    color: #fff;
}

.left-block ul {
    padding: 0;
    list-style: none;
    padding-left: 20px;
}

.left-block a {
    font-size: 14px;
    line-height: 1.8em;
    text-decoration: underline;
    text-transform: uppercase;
    color: #343434;

}

.footer {
    background-color: #39930d;
}

.copy p {
    display: flex;
    font-size: 14px;
    color: #fff;
    margin: 0;
}

.images-copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.images-footer img {
    vertical-align: bottom;
}

.images-footer ul {
    display: flex;
    column-gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.foot-wrap {
    max-width: 945px;
    margin: auto;
    padding: 0 10px;
}

.images-footer img:hover {
    background-color: black;
    border-radius: 50%;
}


@media screen and (min-width:500px) {
    .header-line{
        column-gap: 20px;
    }
    
}

@media screen and (min-width:550px) {
    .header-line {
        justify-content: space-between;
    }

    .left-block ul {
        min-width: 340px;
    }

    .header-line {
        align-items: center;
    }

    .schedule {
        display: flex;
        padding: 0;
        column-gap: 20px;
    }



}


@media screen and (min-width:720px) {
    .information {
        display: flex;
    }

}
