body {
    font-family: "Arial";
    margin: 0;
    background-color: #f3f3f3;
}



.wrapper {
    max-width: 960px;
    margin: auto;
    padding: 0 10px;
}




.header-line {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}




.logo em {
    font-size: 14px;
    color: #5a5a5a;
    font-style: normal;
    display: block;
}

.up-image img {
    width: 100%;
}

.football-manager {
    margin-left: 10px;
}



.logo strong {
    font-size: 24px;
    text-transform: uppercase;
    color: #39930d;
    font-weight: bold;
}


.bottom-images {
    display: flex;
    justify-content: space-between;
}



.logo {
    display: flex;
}



.right-block p {
    display: flex;

}


.phone-number {
    margin-left: 30px;
}

.schedule-photo {
    margin-right: 10px;
}

.working {
    font-size: 14px;
    color: #5a5a5a;
    font-weight: bold;
    text-align: right;
    padding-top: 3px;

}

.number {
    text-align: right;

}

.schedule {
    display: flex;

}

.information {
    display: flex;


}

.schedule a {
    font-size: 14px;
    color: #5a5a5a;
    font-weight: bold;
    text-decoration: none;

}

.schedule p {
    text-align: center;
}

.main-info {
    padding-bottom: 47px;
}


h1 {
    font-size: 24px;
    color: #39930d;
    font-weight: bold;
}

.main-info p {
    font-size: 14px;
    color: #343434;
}

.main-info p {
    font-size: 14px;
    line-height: 21px;
    color: #343434;
}



h2 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px;
    background-color: #39930d;
    color: #ffffff;
    margin-right: 20px;

}

.left-block ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    column-gap: 85px;
    padding: 3px;
}





.left-block a {
    font-size: 14px;
    line-height: 25px;
    text-decoration: underline;
    text-transform: uppercase;
    color: #343434;

}

.left-block ul{
    margin: 0 13px;
    line-height: 28px;
}

.footer {
    background-color: #39930d;
    padding: 0;
    margin: 0;
}

.copy p {
    font-size: 14px;
    color: #ffffff;
    display: flex;
    margin-top: 20px;
    

}





.images-copyright {
    display: flex;
    justify-content: space-between;
    padding: 0px;
 
}



.images-footer ul {
    display: flex;
    column-gap: 11px;
    list-style: none;
}